* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, cyan, yellow);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.left-container,
.right-container {
    width: 10vw;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    box-sizing: content-box;
    border: 1px solid black;
    height: 75vh;
    width: 75vh;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: calc(100% / var(--grid-size));
    width: calc(100% / var(--grid-size));
    background-color: white;
}

.grid-borders {
    border: 1px solid grey;
}

.black-square {
    background-color: black;
    transition: background-color 250ms;
}